section {
    width: 800px;
    height: 400px;
    border: 2px solid black;
}

main {

    width: 100px;
    margin-top: 40px;
    margin-left: 20px;
    

    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,auto);
    gap: 10px;
}

main div {

    border: 1px solid black;
    border-left: 3px solid black;
    width: 370px;
    
    height: 100px;
    

}

h2 {

    margin-top: 15px;
    margin-left: 20px;

    font-size: 15px;
}

span {

    margin-left: 20px;
    font-size: 8.5px;
}
